<h1>Editing Listing</h1>

<%= render 'form' %>
<%# below is bootstrap style for our buttons "show and back"%>
<%= link_to 'Show', @listing, class:"btn btn-link" %> |
<%= link_to 'Back', listings_path,class:"btn btn-link" %>
