@import "bootstrap";
//this was imported as part of bootstraps instructions on their page.
body{
background-color:#F3F3F3;
font-family: monospace;
color:black;

}

.navbar-default{
background-color:white;
font-family:monospace;
color:black;


}

.navbar-default{
font-family:monospace;
color:black;



}
